body, html {
    background-color: rgb(105, 105, 105);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap as needed */
}

#headerText {
    width: 100%; /* Full width */
    text-align: center;
}

.left-side, .right-side {
    flex: 1; /* Allows each side to grow */
    min-width: 200px; /* Minimum width before wrapping */
    box-sizing: border-box;
    padding: 30px;
    color: rgb(255, 255, 255);
    background-color: #676469  ;
}

.left-side {
    flex: 1; /* Allows each side to grow */
    max-width: 30%; /* Reduce the maximum width */
    box-sizing: border-box;
    padding: 30px;
    color: rgb(255, 255, 255);
    background-color: #283044 ;
}


.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
}

#rollerSvg {
    max-width: 100%;
    height: auto; /* Makes SVG height responsive */
}

.slider-container {
    margin-bottom: 20px; /* Add some space between sliders */
    width: 100%; /* Set the width to 80% of the container */
    margin: left; /* Center the slider container horizontally */
}

.slider-container label {
    display: block; /* Make the label elements block-level */
    margin-bottom: 5px; /* Add some space below the labels */
}

.slider-container input[type="range"] {
    width: 100%; /* Make the range input full-width */
}

.slider-container span {
    display: inline-block; /* Make the span elements inline-block */
    margin-left: 5px; /* Add some space to the left of the span elements */
    font-family: Arial, sans-serif; /* Use Arial font for the span elements */
    color: #9ee914; /* Set the color of the span elements */
}

#equationsPanel h3 {
    text-align: center;
    margin-bottom: 10px;
    font-family: "Arial", sans-serif; /* Change font family */
    color: #ff7f00; /* Change text color to a vibrant orange */
    text-shadow: 1px 1px 2px #333; /* Add a subtle text shadow for emphasis */
}

#equationsPanel {
    color: #8b8b8b; /* Change text color to a dark gray */
}

#equationsOutput {
    font-family: "KaTeX_Main", "Arial", sans-serif; /* Use KaTeX font for equations, fallback to Arial */
    color: #c4c4c4; /* Change text color to a bright green */
    background-color: #5a5a5a; /* Add a light gray background */
    padding: 10px; /* Add some padding for readability */
    border-radius: 5px; /* Add rounded corners for style */
    overflow: auto; /* Add scrollbar when content overflows */
    white-space: pre-wrap; /* Preserve line breaks and spacing */
}

.equation {
    margin-bottom: 10px; /* Add some space between equations */
}


.download-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    transition-duration: 0.4s;
}

.download-button:hover {
    background-color: #45a049; /* Darker green */
    color: white;
}

.download-button:active {
    background-color: #3e8e41; /* Even darker green */
    transform: translateY(2px);
}




@media (max-width: 800px) {
    .left-side, .right-side {
        width: 100%; /* Stack on smaller screens */
    }
}
